<h1><%= I18n.t(@title) %></h1><br>

<%= nested_form_for @visit, :html => {:multipart => true} do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= render 'fields', :f => f %>
  <div class="actions">
    <%= f.submit I18n.t(@button) %>
  </div>  
<% end %>
